@model AutoShop.ViewModels.AutoPartListViewModel

<h1>@Model.CurrentWorkOrder</h1>
@foreach (var autopart in Model.AutoParts)
            {
                <partial name="_autopartCard" model="autopart" />
            }

