@model AutoShop.ViewModels.HomeViewModel

<partial name="_Carousel" />

<h2>Auto Parts On Sale</h2>

<div class="row">
    @foreach(var autopart in Model.AutoPartsOnSale)
            {
                <partial name="_autopartCard" model="autopart" />
            }
</div>
